{% extends "layout.njk" %}

{% block content %}

{% block head %}
<link rel="stylesheet"href="https://fonts.googleapis.com/css?family=Sen&display=swap">
<title>Sobre - Deivid Nascimento</title>
{% endblock %}

  <div id="wrapper">
    <img src="../public/images/Foto-1.jpg" alt="Deivid">
    <h1>Deivid Nascimento</h1>
    <h2>Estudante</h2>
    <p>Estudante de programação </p>
  </div>

  <div id="links-footer" class="links">
    <a href="/">GitHub</a>
    <a href="/">Linkedin</a>
  </div>
{% endblock %}


